/* Reset and global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
  background-color: rgb(30, 30, 30) !important;  /* Set your desired background here */
  color: white !important;
  scroll-behavior: smooth;
  overflow-x: hidden
}
